@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Open+Sans:wght@400;500;600;700;800&display=swap');

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(132deg, rgba(255,255,255,1) 17%, rgba(198,237,229,1) 100%, rgba(255,255,255,1) 100%);
}

.App{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.header{
  position: absolute;
  top: 25px;
  left: 15%;
}

h1{
  font-family: 'Lora', serif;
}

article{
  margin: 100px auto auto 15%;
}

label{
  margin-bottom: 0.5rem;
}

.btn {
  border-radius: 8px !important;
  color: #fff !important;
}

.tempLine {
  margin-bottom: 34px;
  border: 1px dashed;
  height: 7rem;
}

.containerPoints {
  margin-top: 25px;
}

.pointsMini {
  height: 5px;
  width: 5px;
  background-color: gray;
  margin: auto 1rem;
  border-radius: 100%;
}

.pointUp {
  height: 10px;
  width: 10px;
  background-color: gray;
  margin: auto 1.5rem 0.5rem;
  border-radius: 100%;
}